{
  "authorizationFile": "authorization-tags-{{ serial }}.json",
  "baseName": "{{ serial }}",
  "genericPath": {{ genericPath |default("false", true) }},
  "chargeBoxSerialNumberPrefix": "{{ serial }}",
  "firmwareVersion" :  "{{ firmwareVersion |default("1.0.0", true) }}" ,
  "fixedName": true,
  "chargePointModel": "{{ chargePointModel |default("Simulator", true) }}",
  "chargePointVendor": "{{ chargePointVendor |default("ACME", true) }}",
  "power": {{ power }},
  "powerUnit": "W",
  "powerSharedByConnectors": true,
  "currentOutType": "{{ currentType }}",
  "numberOfPhases":0,
  "numberOfConnectors": {{ connectors | length }},
  "randomConnectors": false,
  "beginEndMeterValues" : false,
  "outOfOrderEndMeterValues" : false,
  "transactionDataMeterValues" : false,
  "enableStatistics": false,
  "unpluggedRequired": {{ unpluggedRequired |default("false", true) }},
  "pluggedInRequired": {{ pluggedInRequired |default("false", true) }},
  "Configuration": {
    "configurationKey": [
      {
        "key": "ChargingScheduleAllowedChargingRateUnit",
        "readonly": true,
        "value": "Power"
      },
      {
        "key": "ChargeProfileMaxStackLevel",
        "readonly": true,
        "value": "1"
      },
          {
        "key": "ChargingScheduleMaxPeriods",
        "readonly": true,
        "value": "1"
      },
      {
        "key": "MaxChargingProfilesInstalled",
        "readonly": true,
        "value": "1"
      },
      {
        "key": "MeterValuesSampledData",
        "readonly": false,
        "value": "Energy.Active.Import.Register,Power.Active.Import,SoC"
      },
      {
        "key": "MeterValueSampleInterval",
        "readonly": false,
        "value": "30"
      },
      {
        "key": "SupportedFeatureProfiles",
        "readonly": true,
        "value": "Core,LocalAuthListManagement,SmartCharging"
      },
      {
        "key": "LocalAuthListEnabled",
        "readonly": false,
        "value": "false"
      },
      {
        "key": "AuthorizeRemoteTxRequests",
        "readonly": false,
        "value": "false"
      },
      {
        "key": "WebSocketPingInterval",
        "readonly": false,
        "value": "60"
      }
    ]
  },
  "AutomaticTransactionGenerator": {
    "enable": {{ automatictransaction }},
    "minBatterySize": {{ minBatterySize |default(100000, true) }},
    "maxBatterySize": {{ maxBatterySize |default(100000, true) }},
    "minStartEnergy": {{ minStartEnergy |default(50000, true) }},
    "maxStartEnergy": {{ maxStartEnergy |default(50000, true) }},
    "minDesiredEnergy": {{ minDesiredEnergy |default(80000, true) }},
    "maxDesiredEnergy": {{ maxDesiredEnergy |default(80000, true) }},
    "minDuration": {{ minDuration }},
    "maxDuration": {{ maxDuration }},
    "minDelayBetweenTwoTransactions": {{ minDelayBetweenTwoTransactions }},
    "maxDelayBetweenTwoTransactions": {{ maxDelayBetweenTwoTransactions }},
    "probabilityOfStart": 1,
    "stopAfterHours": 1000,
    "stopAfterNumberOfTransaction": 1,
    "stopOnConnectionFailure": false,
    "requireAuthorize": {{ requireAuthorize }},
    "VIN": "ABC"
  },
  "Connectors": {
    {% for element in connectors %}
        "{{ element }}": {
      "bootStatus": "Available",
      "MeterValues": [
        {
          "unit": "Wh",
          "context": "Sample.Periodic",
          "format":"Raw",
          "location":"Outlet",
          "measurand": "Energy.Active.Import.Register",
          "fluctuationPercent": "0"
        },
        {
          "unit": "W",
          "context": "Sample.Periodic",
          "measurand": "Power.Active.Import",
          "format":"Raw",
          "location":"Outlet",
          "fluctuationPercent": "0"
        },
        {
          "unit": "Percent",
          "context": "Sample.Periodic",
          "measurand": "SoC",
          "format":"Raw",
          "location": "EV",
          "fluctuationPercent": "0"
        }
      ]
    },
      {% endfor %}
        "0": {}
  }
}

